@import "../animations.scss";
@import "../variables.scss";

form {
  padding: 1rem;
  width: 100%;
  max-width: 100%;
}

.form-control {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  gap: 0.8rem;
  font-size: inherit;
  max-width: 100%;
}

label {
  font-size: 1rem;
  text-align: left;
}

.feedback{
  color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
}
// .error{
//   color: $white;
//   background-color: $alert;
//   padding: 0.5rem;
//   transition: 250ms ease-out;
//   display: none;
// }

// .success {
//   width: inherit;
//   background-color: $success;
//   color: $white;
//   transition: 250ms ease-out;
// }

input[type=number]{
  font-size: 1.2rem;
  text-align: left;
  outline: none;
  border: 0.1rem solid $gray;
  color: $dark;
  border-radius: 0.3rem;
  width: 70%;
  min-width: 50%;
  max-width: 100%;
  text-align: center;
  transition: 250 ease-out;
}

.form.control select {
  font-size: inherit;
  text-align: left;
  outline: none;
  border: 0.1rem solid $gray;
  color: $white;
  border-radius: 0.3rem;
  width: 100%;
  padding: 0.6rem;
  color: $dark;
}

.form.control input{
  font-size: 1.2rem;
  text-align: left;
  outline: none;
  border: 0.1rem solid $gray;
  color: $dark;
  border-radius: 0.3rem;
  width: 100%;
  max-width: 100%;
  padding: 0.6rem;
  transition: 250 ease-out;
  animation: fadeInX 2s ease 1 alternate;
}

.form.control.success input{
 border: 0.1rem solid $success;
}

.form.control.error input{
  border: 0.1rem solid $alert;
}

.btn {
  font-size: 1.2rem;
  outline: none;
  border: 0.1rem solid $gray;
  border-radius: 0.3rem;
  padding: 0.6rem;
  margin: 0.4rem 0 0 0.6rem;
  background-color: $dark;
  color: $white;
  cursor: pointer;
  transition: 250ms ease-out;
  max-width: 100%;
  &:hover {
    background-color: $light;
    border: 0.1rem solid $dark;
    color: $dark;
  }
}
