
$blue: #4b7db0;
$white: #f9ffff;
$light:#ccd8c4;
$light-1: #ccd8cd;
$gray: rgba(207, 202, 202, 0.877);
$dark:rgb(0, 0, 0);
$shadow:rgba(0, 0, 0, 0.568);
$muted: rgb(63, 62, 62);
$success: #57f049c2;
$alert:#ff2a20;